<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>KnowYourHealth | About Us</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css/aboutus.css">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/carousel/">

    <style>
        body {
            padding-top: 3.5rem;
        }

        nav {
            font-family: sans-serif;
        }

        .navbar-brand {
            font-size: 20px;
            font-family: Georgia, 'Times New Roman', Times, serif;
        }
    </style>

</head>

<body>
    <form id="form1">
        <header>
            <nav class="navbar navbar-expand-md navbar-light fixed-top" style="background-color: #0f67af;">
                <a class="navbar-brand mx-5" href="/"><b>KnowYourHealth</b></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/about">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/dashboard">Check</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <main role="main">

            <div class="jumbotron">
                <div class="container">
                    <h1 class="display-4">About KnowYourHealth</h1>
                    <p>Welcome to KnowYourHealth!, a risk assessment system for medical institutions to generate risk
                        assessments for their patients. KnowYourHealth started off as a company that formed strong
                        relationships with medical institutions to help them generate their assessments with
                        ease and maximum efficiency thus saving the organization's valuable time.
                    </p>
                    <p><a class="btn btn-outline-info" href="/" role="button">KnowYourHealth</a></p>
                </div>
            </div>

            <div class="container">

                <div class="row justify-content-center">
                    <div class="col-md-4">
                        <h2>How does it Work?</h2>
                        <p>KnowYourHealth makes use of machine learning models that helps generate accurate risk
                            assessments.</p>
                        <p><a class="btn btn-outline-info" href="/dashboard" role="button">Generate Assessment </a></p>
                    </div>
                    <div class="col-md-4">
                        <h2>Terms & Conditions</h2>
                        <p>If your organization has any concerns regarding the system please click below to read our
                            Terms and Conditions.</p>
                        <p><a class="btn btn-outline-info" href="/terms" role="button">Terms & Conditions</a></p>
                    </div>
                </div>

                <hr>

            </div>

        </main>

        <footer class="container">
            <p>&copy; KnowYourHealth. All Rights Reserved</p>
        </footer>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
        <script src="../assets/dist/js/bootstrap.bundle.js"></script>

    </form>
</body>

</html>