<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/carousel/">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
    <title>KnowYourHealth | Disease Information</title>
</head>
<style>
    #main-footer {
        color: #FFFFFF;
        font-family: "Segoe UI";
        background: #2B2B2B;
        text-align: center;
        margin-top: 75px;
        padding: 16px;
        bottom: 8px;
    }

    .img_holder img {
        max-width: 100%;
        max-height: 100%;
    }

    .btn-file {
        position: relative;
        overflow: hidden;
    }

    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }
</style>

<body>

    <header>
        <nav class="navbar navbar-expand-md navbar-light fixed-top" style="background-color: #0f67af;">
            <a class="navbar-brand" href="#"><b>KnowYourHealth</b></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/disinformation">Disease Information</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/cancer">Breast Cancer</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/diabetes">Diabetes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/heart">Heart Disease</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/kidney">Kidney Disease</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/liver">Liver Disease</a>
                    </li>
                </ul>
            </div>
        </nav>

    </header>
    <br />
    <br />
    <div class="container">
        <h1 style="text-align:center;">KnowYourHealth - Disease Information</h1>
        <p style="text-align:center;">This is a directory of all the diseases that KnowYourHealth can generate
            assessments
            for, this index provides in depth
            details about the disease including its symptoms.</p>
        <h2>1. Breast Cancer </h2>
        <div style="text-align: center; margin-top: 20px">
            <img style="max-width: 600px" src="static/img/breastcancer.jpg" /><br /><br />
        </div>
        <p>Breast cancer is a disease in which cells in the breast grow out of control. There are different kinds of
            breast cancer. The kind of breast cancer depends on which cells in the breast turn into cancer.<br></p>

        <h3>Symptoms</h3>
        <p>Signs and symptoms of breast cancer may include:</p>
        <ul>
            <li>A breast lump or thickening</li>
            <li>Change in the size, shape or appearance of a breast
            </li>
            <li>
                Changes to the skin over the breast, such as dimpling
            </li>
            <li>
                A newly inverted nipple
            </li>
            <li>Peeling, scaling, crusting or flaking of the pigmented area of skin surrounding the nipple (areola) or
                breast skin</li>
            <li>Redness or pitting of the skin over your breast</li>
        </ul>
        <h3>Causes</h3>
        <p>Doctors know that breast cancer occurs when some breast cells begin to grow abnormally. These cells divide
            more rapidly than healthy cells do and continue to accumulate, forming a lump or mass. Cells may spread
            (metastasize) through your breast to your lymph nodes or to other parts of your body.<br>
            Breast cancer most often begins with cells in the milk-producing ducts (invasive ductal carcinoma). Breast
            cancer may also begin in the glandular tissue called lobules (invasive lobular carcinoma) or in other cells
            or tissue within the breast.
            <br>
            Researchers have identified hormonal, lifestyle and environmental factors that may increase your risk of
            breast cancer. But it's not clear why some people who have no risk factors develop cancer, yet other people
            with risk factors never do. It's likely that breast cancer is caused by a complex interaction of your
            genetic makeup and your environment.
        </p>
        <br>
        <hr>
        <br>

        <h2>2. Diabetes</h2>
        <div style="text-align: center; margin-top: 20px">
            <img style="max-width: 600px" src="static/img/diabetes.jpg" /><br /><br />
        </div>
        <p>Diabetes is a disease that occurs when your blood glucose, also called blood sugar, is too high. Blood
            glucose is your main source of energy and comes from the food you eat. Insulin, a hormone made by the
            pancreas, helps glucose from food get into your cells to be used for energy.</p>
        <h3>Symptoms</h3>
        <p>Signs and symptoms of diabetes may include:</p>
        <ul>
            <li>Increased thirst</li>
            <li>Frequent urination</li>
            <li>Extreme hunger</li>
            <li>Numb or tingling hands or feet</li>
            <li>Unexplained weight loss</li>
            <li>Fatigue</li>
            <li>Irritability</li>
        </ul>
        <h3>Causes</h3>
        <p>The exact cause of type 1 diabetes is unknown.What is known is that your immune system — which normally
            fights harmful bacteria or viruses — attacks and destroys your insulin-producing cells in the pancreas. This
            leaves you with little or no insulin. Instead of being transported into your cells, sugar builds up in your
            bloodstream.Type 1 is thought to be caused by a combination of genetic susceptibility and environmental
            factors, though exactly what those factors are is still unclear.
            <br>
            In type 2 diabetes, your cells become resistant to the action of insulin, and your pancreas is unable to
            make enough insulin to overcome this resistance. Instead of moving into your cells where it's needed for
            energy, sugar builds up in your bloodstream.
        </p>
        <h3>Other problems Diabetic patients are highly prone to:</h3>
        <p>Over time, high blood glucose leads to problems such as</p>

        <ul>
            <li>Heart Disease</li>
            <li>Stroke</li>
            <li>Kidney Disease</li>
            <li>Eye Problems</li>
            <li>Dental Disease</li>
            <li>Nerve Damage</li>
            <li>Foot Problems</li>
        </ul>
        <br>
        <hr>
        <br>

        <h2>3.Heart Disease</h2>
        <div style="text-align: center; margin-top: 20px">
            <img style="max-width: 600px" src="static/img/heart.jpg" /><br />
        </div><br>
        <p>Heart disease describes a range of conditions that affect your heart. Diseases under the heart disease
            umbrella include blood vessel diseases, such as coronary artery disease; heart rhythm problems
            (arrhythmias); and heart defects you're born with (congenital heart defects), among others.<br>
            The term "heart disease" is often used interchangeably with the term "cardiovascular disease."
            Cardiovascular disease generally refers to conditions that involve narrowed or blocked blood vessels that
            can lead to a heart attack, chest pain (angina) or stroke. Other heart conditions, such as those that affect
            your heart's muscle, valves or rhythm, also are considered forms of heart disease.<br>
            Many forms of heart disease can be prevented or treated with healthy lifestyle choices.</p>

        <h3>Symptoms</h3>
        <ul>
            <li>Chest pain, chest tightness, chest pressure and chest discomfort (angina)</li>
            <li>Shortness of breath</li>
            <li>Pain, numbness, weakness or coldness in your legs or arms if the blood vessels in those parts of your
                body are narrowed</li>
            <li>Pain in the neck, jaw, throat, upper abdomen or back</li>
        </ul>
        <h3>Causes</h3>
        <p>A buildup of fatty plaques in your arteries (atherosclerosis) is the most common cause of coronary artery
            disease. Unhealthy lifestyle habits, such as a poor diet, lack of exercise, being overweight and smoking,
            can
            lead to atherosclerosis.
        </p>

        <br>
        <hr>
        <br>
        <h2>4.Kidney Disease</h2>
        <div style="text-align: center; margin-top: 20px">
            <img style="max-width: 600px" src="static/img/kidney.png" /><br />
        </div><br>
        <p>The kidneys play key roles in body function, not only by filtering the blood and getting rid of waste
            products, but also by balancing the electrolyte levels in the body, controlling blood pressure, and
            stimulating the production of red blood cells.<br>

            The kidneys are located in the abdomen toward the back, normally one on each side of the spine. They get
            their blood supply through the renal arteries directly from the aorta and send blood back to the heart via
            the renal veins to the vena cava. (The term "renal" is derived from the Latin name for kidney.)<br>
        </p>

        <h3>Symptoms</h3>
        <ul>
            <li>Lethargy</li>
            <li> Weakness</li>
            <li>Shortness of breath</li>
            <li>Generalized swelling (edema)</li>
            <li>Generalized weakness due to anemia</li>
            <li>Loss of appetite</li>
            <li>Lethargy</li>
            <li>Fatigue</li>
            <li>Congestive heart failure</li>
            <li>Metabolic acidosis</li>
            <li>High blood potassium (hyperkalemia)</li>
            <li>Fatal heart rhythm disturbances (arrhythmias) including ventricular tachycardia and ventricular
                fibrillation</li>
            <li>
                Rising urea levels in the blood (uremia) may lead to brain encephalopathy, pericarditis (inflammation of
                the heart lining), or low calcium blood levels (hypocalcemia)</li>
        </ul>

        <h3>Causes</h3>
        <ul>
            <li>Type 1 or type 2 diabetes</li>
            <li> High blood pressure</li>
            <li>Glomerulonephritis</li>
        </ul>

        <br>
        <hr>
        <br>
        <h2>5.Liver Disease</h2>
        <div style="text-align: center; margin-top: 20px">
            <img style="max-width: 600px" src="static/img/liver.png" /><br />
        </div>
        <p>The liver is an organ about the size of a football. It sits just under your rib cage on the right side of
            your abdomen. The liver is essential for digesting food and ridding your body of toxic substances.<br>

            Liver disease can be inherited (genetic). Liver problems can also be caused by a variety of factors that
            damage the liver, such as viruses, alcohol use and obesity.<br>

            Over time, conditions that damage the liver can lead to scarring (cirrhosis), which can lead to liver
            failure, a life-threatening condition. But early treatment may give the liver time to heal. <br>
        </p>

        <h3>Symptoms</h3>
        <p>Liver disease doesn't always cause noticeable signs and symptoms. If signs and symptoms of liver disease do
            occur, the may include:</p>
        <ul>
            <li>Skin and eyes that appear yellowish (jaundice)</li>
            <li>Abdominal pain and swelling</li>
            <li>Swelling in the legs and ankles</li>
            <li>Nausea or vomiting</li>
            <li>Loss of appetite</li>
            <li>Tendency to bruise easily</li>
        </ul>
        <h3>Causes</h3>
        <ul>
            <li>
                <h5> Infection</h5>
                The most common types of liver infection are hepatitis viruses, including:
                <ul>
                    <li>Hepatitis A</li>
                    <li>Hepatitis B</li>
                    <li>Hepatitis C</li>
                </ul>
            </li>
            <li>
                <h5>Immune system abnormality</h5>Diseases in which your immune system attacks certain parts of your
                body (autoimmune) can affect your liver. Examples of autoimmune liver diseases include:
                <ul>
                    <li>Autoimmune hepatitis</li>
                    <li>Primary biliary cholangitis</li>
                    <li>Primary sclerosing cholangitis</li>
                </ul>
            </li>
            <li>
                <h5>Other</h5>Common causes of liver disease include:
                <ul>
                    <li>Chronic alcohol abuse</li>
                    <li>Fat accumulation in the liver (nonalcoholic fatty liver disease)</li>
                    <li>Certain prescription or over-the-counter medications</li>
                </ul>
            </li>

        </ul>
        <br>
        <hr>

    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>